doctype html
html
  head
    title= 'Destiny Data'
    base(href='/')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')    
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css")
    link(rel='stylesheet' href='/public/css/loader.css')
    link(rel='stylesheet' href='/public/css/reset.css')
    link(rel='stylesheet' href='/public/css/style.css')

  body
    div(id="wrapper" class="wrapper")
      div(class="mask")
      div(class="empty")
        div(class="linesLeft")
          div(class="line left no1")
          div(class="line left no2")
          div(class="line left no3")
          div(class="line left no4")
        div(class="linesRight")
          div(class="line right no1")
          div(class="line right no2")
          div(class="line right no3")
          div(class="line right no4")
        div(class="outer")
          div
      div(class="full fullLeft")
        div(class="linesLeft")
          div(class="line left")
          div(class="line left")
          div(class="line left")
          div(class="line left")
        div(class="linesRight")
          div(class="line right")
          div(class="line right")
          div(class="line right")
          div(class="line right")
        div(class="circle")
          div
        div(class="outer")
          div
        div(class="hex")
          div(class="side_01")
          div(class="side_02")
          div(class="side_03")
          div(class="side_04")
          div(class="side_05")
          div(class="side_06")
      div(class="full fullRight")
        div(class="linesLeft")
          div(class="line left")
          div(class="line left")
          div(class="line left")
          div(class="line left")
        div(class="linesRight")
          div(class="line right")
          div(class="line right")
          div(class="line right")
          div(class="line right")
        div(class="circle")
          div
        div(class="outer")
        div(class="hex")
          div(class="side_01")
          div(class="side_02")
          div(class="side_03")
          div(class="side_04")
          div(class="side_05")
          div(class="side_06")
    div(id='root')
      div(class='chart')
      script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js")
      script(src="//d3js.org/d3.v3.min.js")
      script(src="/public/javascript/bundle.js")
      script(src="https://use.fontawesome.com/5e9ad71d7a.js")
