doctype html
html
  head
    title= 'Destiny Data'
    base(href='/')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')    
    link(rel='stylesheet' href='/public/css/reset.css')
    link(rel='stylesheet' href='/public/css/style.css')

  body
    div(class='row wrapper' id='root')
      div(class='columns small-12 medium-10 medium-offset-1 large-8 large-offset-2')
      div(class='chart')
      script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js")
      script(src="//d3js.org/d3.v3.min.js")
      script(src="/public/javascript/bundle.js")
      script(src="https://use.fontawesome.com/5e9ad71d7a.js")
