html, body, header, nav, h1,
ul, li, strong, main, button, i,
section, img, div, h2, h3, h4, h5, h6, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small, pre {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  font-family: 'Open Sans', sans-serif;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="username"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
