@import url(http://fonts.googleapis.com/css?family=Roboto);

.loader-icon,
.loader-icon:before,
.loader-icon:after {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.loader-icon {
  margin: 0 auto;
  position: relative;
  background: transparent;
}

.loader-icon:before,
.loader-icon:after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  border: 15px solid #efefef;
  opacity: 0.5;
  animation: 3s rotate infinite linear;
}

.loader-icon:before {
  border-left-color: transparent;
}

.loader-icon:after {
  top: 16.5%;
  left: 16.5%;
  width: 100px;
  height: 100px;
  border-right-color: transparent;
  opacity: 0.2;
  animation-direction: reverse;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes expand {
  50% {
    transform: scale(1.2);
  }
}

@keyframes background {
  45% {
    background: #2e2e2e url(https://www.bungie.net/img/theme/destiny/headers/forum_headers_destiny_v2.jpg?cv=3983621212&av=446517217) no-repeat center;
  background-size: cover;
  }
  50% {
    background: #2e2e2e url(https://www.bungie.net/img/theme/destiny/headers/forum_headers_clans_v2.jpg?cv=3983621212&av=446517217) no-repeat center;
  background-size: cover;
  }
  95% {
    background: #2e2e2e url(https://www.bungie.net/img/theme/destiny/headers/forum_headers_clans_v2.jpg?cv=3983621212&av=446517217) no-repeat center;
  background-size: cover;
  }
}
