html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  font-family: 'Titillium Web', sans-serif;
  background-color: #1f1e26;
  color: #f0f0f1;
  margin: 50px;
}

h1 {
  font-size: 50px;
}

.chart {
  display: flex;
  align-content: center;
  justify-content: center;
  min-height: 700px;
	margin-top: -80px;
}

.chart-label {
	fill: #f0f0f1;
}

.legend {
  margin-top: 20px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.players {
  margin: 10px;
  padding: 10px;
}

.player-detail {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fa.fa-stop {
  flex: 1;
  margin-right: 10px;
}

.detail-username {
  flex: 2;
}

.detailKD {
  flex: 2;
}

.fa.fa-times {
  flex: 1;
  cursor: pointer;
  text-align: right;
}

.chart-options-group {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
}

.chart-options-group {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.chart-option {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.chart-option:hover {
  text-decoration: none;
}

.overall:hover, .overall-active, .overall-active:focus {
  color: #35d24d;
  text-decoration: none;
}

.primary:hover, .primary-active, .primary-active:focus {
  color: #68a9df;
  text-decoration: none;
}

.secondary:hover, .secondary-active, .secondary-active:focus {
  color: #9f21d2;
  text-decoration: none;
}

.heavy:hover, .heavy-active, .heavy-active:focus {
  color: #e6cf3c;
  text-decoration: none;
}

@media (max-width: 991px) {
  .chart {
    margin-top: 0;
  }

  .legend {
    padding: 20px 0;
  }

  .username-input {
    width: auto;
  }
  .form-group {
    margin-bottom: 0;
  }
}
