body {
  padding: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  fill: #242424;
  text-align: center;
  cursor: default;
}

h1 {
  font-size: 20px;
  margin-bottom: 20px;
}

p {
  margin-bottom: 10px;
}

.label {
  font-family: 'Raleway', sans-serif;
  fill: #333333;
}

.tooltip {
  fill: #333333;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.content {
  display: flex;
  justify-content: space-around;
  min-height: 600px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 20px;
}

.chart {
  flex: 2;
}

.legend {
  max-height: 200px;
  padding: 50px;
  flex: 1;
  border: 1px solid lightgrey;
}

.search-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

input {
  border: 1px solid black;
  padding: 5px;
}

.platform-radio-group {
  display: flex;
  justify-content: space-between;
}

i {
  cursor: pointer;
}

.players {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-detail {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chart-options-group {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.chart-option {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.overall:hover {
  color: #35d24d;
}

.primary:hover {
  color: #68a9df;
}

.secondary:hover {
  color: #9f21d2;
}

.heavy:hover {
  color: #e6cf3c;
}

.overall-active {
  color: #35d24d;
}

.primary-active {
  color: #68a9df;
}

.secondary-active {
  color: #9f21d2;
}

.heavy-active {
  color: #e6cf3c;
}
